<h2>Ember-confirm-dialog</h2>

<div class="container-fluid">

  <label for="checkDisabled">Disabled: </label> {{input id="checkDisabled" type="checkbox" checked=disabled}}

    <h3>Confirm dialog with default settings</h3>

    <div>
      is active?
      {{input id="activeConfirm" type="checkbox" checked=isActive}}
    </div>
  {{#confirm-dialog disabled=disabled active=isActive}}
      <button id="defaultConfirm" {{action 'confirmedAction'}}>Click me!</button>
  {{/confirm-dialog}}

    <h3>Confirm dialog with custom texts and all the callbacks</h3>

    <p class="help-block">Custom callbacks for confirm and cancel buttons</p>
    <p style="color: blue; font-weight: bold;">
      Selected choice: <span id="callbackResult">{{callbackResult}}</span>
    </p>

  {{#confirm-dialog
  text="Do you want to destry the world?"
  confirmButton="Yeah, do it!"
  cancelButton="Noooooo!!!!!"
  confirmAction=(action 'confirmDestroy')
  cancelAction=(action 'cancelDestroy')
  disabled=disabled
  }}
      <button id="callbackConfirm" {{action 'destroyWorld'}}>DESTROY THE WORLD !</button>
  {{/confirm-dialog}}

    <h3>Confirm dialog with Bootstrap (CSS classes for confirm/cancel buttons) and button icons (FontAwesome or any other font icon)</h3>

  {{#confirm-dialog
  confirmButtonClass="btn btn-success"
  cancelButtonClass="btn btn-danger"
  okCssIcon="fa fa-check-circle-o"
  cancelCssIcon="fa fa-ban"
  disabled=disabled
  }}
      <button {{action 'confirmedAction'}}>Click me!</button>
  {{/confirm-dialog}}

    <h3>Confirm dialog with title and custom CSS classes</h3>

  {{#confirm-dialog
  dialogClass="custom-confirm-dialog"
  title="This is a title"
  text="And this is a content"
  disabled=disabled
  }}
      <button {{action 'confirmedAction'}}>Click me!</button>
  {{/confirm-dialog}}

</div>
